@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Protest+Revolution&family=Protest+Riot&display=swap');
:root{
  --marginleft_menu :1300px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Protest Riot", sans-serif;
}
.container{
  background-color: yellow;
}
.imagenes_navbar {
  display: flex;
  margin: 0 30px;
  justify-content: space-between;
  align-items: center;
}
.celular i{
  font-size: 42px;
}
.imagen_gris{
  display: flex;
  justify-content: end;
  z-index: 10;
}
header .navbar{
  position: relative;
  display: flex;
  margin-left: var(--marginleft_menu);
}
header .navbar li{
  list-style: none;
  margin-left: 50px;
}
header .navbar li a{
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
}
.imagenes_titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
.hoja{
  width: 80px;
  height: 80px;
}
.contenido .Titulo h2{
  font-size: 4.5rem;
  line-height: 1.2;
  margin-left: 300px;
  display: flex;
}
hr{
  margin-left: 400px;
  width: 600px;
}
.subtitulo img{
  margin: 20px  500px ;
}
.boton_order img{
  display: flex;
  top: 0;
  justify-content: center;
}
.boton_order a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 40px;
  margin-left: 600px;
  border: solid black 2px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}
.imagen_pasta img{
  width: 300px;
  margin-left: var(--marginleft_menu);

}
.imagenes_mitad{
  display: flex;
  justify-content: space-around;
}
.erizo{
  position: absolute;
  width: 100px;
}
.titulo2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
}
.subtitulo2{
  padding: 20px;
  font-size: 30px;
  margin-left: 100px;
}
.contenido2{
  padding: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.contenedor_car figure img{
  margin-left: 250px;
  width: 300px;
  padding: 30px;
}
.contenedor_car .card_contenido{
  font-size: 15px;
  margin-left: 300px;
  width: 200px;
}
.boton_order_2 a{
  margin-left: 300px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 40px;
  font-size: 20px;
  background-color: yellow;
}
.titulo3 h1{
  margin: 30px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
}
.titulo3 h2{
  margin: 30px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
}
.subtitulo3{  
  padding: 20px;
  font-size: 20px;
  margin-left: 100px;
}
.carrusel{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.parte4{
  margin: 20px;
  display: flex;
  justify-content: space-around ;
  align-items: center;
}
.parte4 h1{
  display: flex;
  justify-content: center;
}
.titulo4{
  margin: 20px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
}
.formulario{
  margin-left: 200px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.formulario input{
  padding: 20px;
  margin: 20px;
  width: 600px;
  margin-left: 300px;
}
.formulario label{
  font-size: 20px;
}